<div class="entrada-container">
  <!-- HEADER -->
  <div class="header">
    <div class="header-info">
      <h2>Cadastrar Compra / Nota Fiscal</h2>
      <span class="subtitulo">Importe a NF-e ou preencha manualmente</span>
    </div>

    <input
      type="file"
      (change)="onFileSelected($event)"
      accept=".xml"
      hidden
      #fileInput
    />

    <button
      class="btn-primary"
      type="button"
      (click)="fileInput.click()"
      [disabled]="loading$ | async"
    >
      <span *ngIf="!(loading$ | async)">📄 Enviar NF-e</span>
      <span *ngIf="loading$ | async">Processando...</span>
    </button>
  </div>

  <!-- FORM -->
  <form [formGroup]="form" class="container">
    <!-- NOTA -->
    <div class="card">
      <label>Número da Nota Fiscal</label>
      <input
        type="text"
        formControlName="numeroNotaFiscal"
        placeholder="Número da Nota Fiscal"
      />
    </div>

    <!-- FORNECEDOR -->
    <div class="card" formGroupName="fornecedor">
      <h3>Fornecedor</h3>

      <div class="autocomplete-wrapper">
        <label>CNPJ</label>
        <input
          type="text"
          placeholder="CNPJ"
          formControlName="cnpj"
          mask="00.000.000/0000-00"
          [dropSpecialCharacters]="true"
          (input)="filtrarFornecedores()"
        />

        <small class="error" *ngIf="isInvalid('fornecedor.cnpj')">
          CNPJ é obrigatório
        </small>

        <ul *ngIf="fornecedoresFiltrados?.length" class="autocomplete">
          <li
            *ngFor="let f of fornecedoresFiltrados"
            (click)="selecionarFornecedor(f)"
          >
            {{ f.cnpj }} | {{ f.nomeFantasia }}
          </li>
        </ul>
      </div>

      <div class="grid">
        <div>
          <label>Nome Fantasia</label>
          <input placeholder="Nome Fantasia" formControlName="nomeFantasia" />
          <small class="error" *ngIf="isInvalid('fornecedor.nomeFantasia')">
            Nome Fantasia é obrigatório
          </small>
        </div>
      
        <div>
          <label>Razão Social</label>
          <input placeholder="Razão Social" formControlName="razaoSocial" />
        </div>

        <div>
          <label>Telefone</label>
          <input
            placeholder="Telefone"
            formControlName="telefone"
            mask="(00) 00000-0000"
            [dropSpecialCharacters]="true"
          />
        </div>
      </div>
    </div>

    <!-- ITENS -->
    <div class="card">
      <h3>Itens Comprados</h3>

      <div formArrayName="itensComprados">
        <div
          *ngFor="let item of itens.controls; let i = index"
          [formGroupName]="i"
          class="item"
        >
          <div formGroupName="produto" class="produto">
            <label class="produto-label">Produto</label>

            <div class="autocomplete-wrapper">
              <label>Nome do Produto</label>
              <input
                type="text"
                placeholder="Digite o nome do produto"
                formControlName="nome"
                (input)="filtrarProdutos(i)"
              />
              <small
                class="error"
                *ngIf="item.get('produto.nome')?.invalid 
                      && item.get('produto.nome')?.touched">
                Nome do Produto é obrigatório
              </small>

              <ul *ngIf="produtosFiltrados[i]?.length" class="autocomplete">
                <li
                  *ngFor="let p of produtosFiltrados[i]"
                  (click)="selecionarProduto(i, p)"
                >
                  {{ p.nome }}
                </li>
              </ul>
            </div>

            <div class="grid">
              <div>
                <label>Código do Produto</label>
                <input placeholder="Código do Produto" formControlName="codigo" />
              </div>
            
              <div>
                <label>Código de Barras</label>
                <input placeholder="Código de Barras" formControlName="codigoBarras" />
                <small
                  class="error"
                  *ngIf="item.get('produto.codigoBarras')?.invalid 
                        && item.get('produto.codigoBarras')?.touched">
                  Código de Barras é obrigatório
                </small>
              </div>
            
              <div>
                <label>Margem</label>
                <input
                  type="text"
                  placeholder="Margem"
                  formControlName="margem"
                  maxlength="4"
                  mask="separator.2"
                  suffix="%"
                  [dropSpecialCharacters]="true"
                />
              </div>
              <div>
                <label>Unidade Comercial</label>
                <input placeholder="Unidade" formControlName="unidadeComercial" />
              </div>
            </div>
          </div>

          <div class="grid">
            <div>
              <label>Preço de compra</label>
              <input
                type="text"
                placeholder="Preço de compra"
                formControlName="precoUnitarioCompra"
                mask="separator.2"
                prefix="R$ "
                thousandSeparator="."
                decimalMarker=","
                [dropSpecialCharacters]="true"
              />
              <small
                class="error"
                *ngIf="item.get('precoUnitarioCompra')?.invalid 
                      && item.get('precoUnitarioCompra')?.touched">
                Preço de compra é obrigatório
              </small>
            </div>
  
            <div>
              <label>Quantidade Comprada</label>
              <input type="number" placeholder="Quantidade Comprada" formControlName="quantidade" />
              <small
                class="error"
                *ngIf="item.get('quantidade')?.invalid 
                      && item.get('quantidade')?.touched">
                Quantidade Comprada é obrigatório
              </small>
            </div>
          </div>          

          <div formGroupName="lote" class="lote">
            <label class="lote-label">Lote</label>
            <div class="grid">
              <div>
                <label>Número do Lote</label>
                <input placeholder="Número do Lote" formControlName="numero" />
              </div>
          
              <div>
                <label>Data de fabricação</label>
                <input
                  type="date"
                  lang="pt-BR"
                  formControlName="dataFabricacao"
                />
              </div>
          
              <div>
                <label>Data de Validade</label>
                <input
                  type="date"
                  lang="pt-BR"
                  formControlName="dataValidade"
                />
              </div>
            </div>
          </div>

          <div class="acoes-item">
            <button
              type="button"
              class="btn-danger"
              (click)="removerItem(i)"
              *ngIf="itens.length > 1 && i > 0"
            >
              Remover item
            </button>
          </div>
        </div>
      </div>

      <button
        type="button"
        class="btn-secondary"
        (click)="adicionarItem()"
        [disabled]="loading$ | async"
      >
        + Adicionar Item
      </button>
    </div>

    <div class="acoes-form">
      <button
        type="button"
        class="btn-primary"
        (click)="salvar()"
        [disabled]="loading$ | async"
      >
        💾 Salvar Compra
      </button>
    </div>
  </form>
</div>
