.venda-container {
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 16px;
}

.step-actions {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.mat-mdc-button:not(:disabled) {
  color: #4f46e5;
}

.mat-mdc-raised-button:not(:disabled) {
  color: #fff;
  background-color: #4f46e5!important;
}

::ng-deep .mat-step-icon-selected {
  background-color: #4f46e5!important;
}

::ng-deep .mat-step-icon-state-done {
  background-color: #4f46e5!important;
}

::ng-deep .mat-step-icon-state-edit {
  background-color: #2e7d32!important;
}
