/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-list-item__primary-text {
    display: flex;
}

.toast-sucesso.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: #2e7d32 !important;
    color: #fff !important;
  }
  
  .toast-erro.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: #c62828 !important;
    color: #fff !important;
  }
  